body {
    background: linear-gradient(to bottom, #000F1F, #004085);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Меню */
.menu {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* Белый фон для меню */
    padding: 20px 0; /* Увеличенные отступы для меню */
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav li {
    display: inline-block;
    margin: 0 30px;
}

nav a {
    color: #333;
    text-decoration: none;
    font-size: 25px;
    padding: 12px 20px;
    display: block;
    line-height: 1.5;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

